---
import BaseLayout from './BaseLayout.astro';
import '../styles/global.css';

interface Props {
  title?: string;
}

const { title = 'Hacklanta — Go All In' } = Astro.props;
---

<BaseLayout title={title}>
  <main>
    <a
      id="mlh-trust-badge"
      class="hidden lg:block"
      style="max-width:80px;min-width:50px;position:absolute;left:180px;top:0;width:8%;z-index:10000"
      href="https://mlh.io/na?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2026-season&utm_content=black"
      target="_blank"
      ><img
        src="https://s3.amazonaws.com/logged-assets/trust-badge/2026/mlh-trust-badge-2026-black.svg"
        alt="Major League Hacking 2026 Hackathon Season"
        style="width:100%"
      /></a
    >
    <slot />
  </main>
</BaseLayout>
